.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #ecf0f5;
}

.App-logo {
    height: 100px;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.container {
    width: 95vw;
    width: min(95vw, 500px);
    background-color: white;
    -webkit-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .075);
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .075);
    margin: 0;
}

.tips {
    padding: 8px;
    box-sizing: border-box;
    border-top: 4px #d3b126 solid;
}

.App-header {
    width: 95vw;
    width: min(95vw, 500px);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    -webkit-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .075);
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .075);
    margin-top: 10px;
    padding: 10px 0;
    box-sizing: border-box;
}

h1 {
    margin: 0;
    font-size: 35px;
    font-weight: lighter;
}

h2 {
    margin: 0;
    font-size: 20px;
    font-weight: normal;

}

.App-header p {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;

}

input[type="number"] {
    -moz-appearance: textfield;

}

.main-con {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-con ol {
    list-style: none;
    padding: 0;
    width: 95vw;
    width: min(95vw, 500px);
}

.sub-con {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 5px 5px;
    -webkit-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .075);
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .075);
    /* border-radius: 50px; */
    margin: 8px 0;
    box-sizing: border-box;
    max-width: inherit;
    background-color: white;
    border-top: 4px #3c8dbc solid;
}


.row {
    display: table-row;
}

.subInp,
.grade {
    border: none;
    outline: none;
    margin: 5px;
    box-sizing: border-box;
    width: 90%;
}


.grade {
    text-align: end;
}

.cell {
    display: table-cell;
}

.scoreInp,
.creditInp {
    outline: none;
    margin: 5px;
    display: table-cell;
    width: 45%;
    height: 20px;
    box-sizing: border-box;
    padding: 0 5px;
}

.inpTip {
    position: relative;
    text-align: end;
    top: -75%;
    height: 0;
    padding-right: 10px;
    box-sizing: border-box;
    user-select: none;
    pointer-events: none;
    font-size: 8px;
    color: #555555;
}

.scoreInp input,
.creditInp input {
    display: block;
    outline: none;
    padding: 6px 12px;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    margin: 0;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    /*border-radius: 4px;*/
    -webkit-box-shadow: inset -3px -3px 12px 2px rgba(0, 0, 0, 0.06);
    box-shadow: inset -3px -3px 12px 2px rgba(0, 0, 0, .06);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.addBtn {
    margin: 5px 0;
    outline: none;
    width: 100%;
    height: 34px;
    box-sizing: border-box;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #008d4c;
    background-image: none;
    /*border: 1px solid #ccc;*/
    /*border-radius: 4px;*/
    border: none;
    -webkit-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .075);
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .075);
}

.clearBtn {
    margin: 5px 0;
    outline: none;
    width: 100%;
    height: 34px;
    box-sizing: border-box;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #dd4b39;
    background-image: none;
    /*border: 1px solid #ccc;*/
    /*border-radius: 4px;*/
    border: none;
    -webkit-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .075);
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .075);
}

.gpa-con {
    margin: 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
    box-sizing: border-box;
    -webkit-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .075);
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .075);
    font-weight: lighter;
    font-size: 50px;
    background-color: white;
    animation: gpa-in 0.5s ease-in;
    border-top: 2px #d6dff0 dashed;
}

@keyframes gpa-in {
    from {
        opacity: 0;
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}


.gpa-title {
    font-size: 15px;
    font-weight: normal;
    margin-top: -5px;
    margin-bottom: 15px;
    background-color: #000000;
    color: white;
    width: 120px;
}

.delBtn {
    position: relative;
    height: 0;
    line-height: 0;
    text-align: end;
    /*box-sizing: border-box;*/
    background: none;
    border: none;
    outline: none;
}

.delBtn button {
    border-radius: 0 0 0 6px;
    transform: translateY(50%);
    background: #eee;
    border: none;
    outline: none;
    height: 15px;
    width: 15px;
    box-sizing: border-box;
    padding: 0;
    font-size: larger;
    line-height: 15px;
    text-align: center;
    margin-top: 5px;
}

.delBtn button:hover {
    background: #dd4b39;
}

.sub-area {
    animation: add-sub 0.3s ease-in;
    transform-origin: center;
}

.addBtnAni:active {
    background-color: #275827;
}

.clearBtnAni:active {
    background-color: #ac2925;
}

@keyframes add-sub {
    from {
        opacity: 0;
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}
